<div class="container">  
    <div class="quoteCard" *ngFor='let quote of quotes; let i = index'>
      <blockquote class="blockquote mb-0">
        <p>{{quote.quote}}</p>
        <footer class="blockquote-footer text-black">
          <small>
            Author: <cite title="Source Title">{{quote.author}}</cite>
          </small>
        </footer>
      </blockquote>
  
      <div class="row butoons">
        <div class="col-4 ">
          <button type="button" class="delete_btn" (click)= 'deleteQuote(true)'>Delete Quote</button>
        </div>
        <div class="col-8">
          <div class="vote_btns">
            <div class="like_gp">
                <button type="button" class="btn_upvote" (click)="likeButtonClick(i)">Upvotes</button>
                <span>{{quote.upvotes}} </span>
            </div>
            <div class="dislike_gp">
                <button type="button" class="btn_downvote" (click)="dislikeButtonClick(i)">Downvotes</button>
                <span> {{quote.downvotes}} </span>
            </div>
        </div>
        </div>
      </div>

